{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{#if this.dataFetched}}
    <div class="tab-pane active">
    {{#if recentCollection.length}}
        <ul class="unstyled listed recent-records-list">
            {{#each recentCollection.models}}
                <li class="recent-records" data-record-id="{{fieldValue this "id"}}">
                    <i class="sicon sicon-list quick-picks-list"></i>
                    <a href="javascript:void(0)">
                        <span class="recent-link" rel="tooltip" data-original-title="{{fieldValue this "name"}}">{{fieldValue this "name"}}</span>
                    </a>
                    <i class="sicon sicon-preview quick-picks-preview" rel="tooltip" data-original-title="{{str 'LBL_PREVIEW'}}"></i>
                </li>
            {{/each}}
        </ul>
        {{#eq this.activeTab 'favorites'}}
            {{#notEq this.pageNumList.pageNum '1'}}
                    <div class="block-footer">
                        <nav class="pagination" aria-label="page-navigation">
                            <ul>
                                <li class="favorite-pagination">
                                    <a class="paginate-aria-button nav-previous btn btn-link btn-invisible {{#if this.isPrevDisabled}}disabled{{/if}}" data-page-id="{{this.pageNumClicked}}" data-action="{{#unless this.isPrevDisabled}}page-nav-clicked{{/unless}}" aria-label="Previous">
                                        <span class="previous-fav sicon sicon-chevron-left {{#if this.isPrevDisabled}}disabled{{/if}}" data-page-id="{{this.pageNumClicked}}" aria-hidden="true"></span>
                                    </a>
                                </li>
                                {{#each this.pageNumList}}
                                    <li class="{{listClass}}">
                                        {{#if isIcon}}
                                            <i class="{{subListClass}}"></i>
                                        {{else}}
                                            <a class="{{subListClass}} {{#if ../../this.isPageNumDisabled}}disabled{{/if}} {{#if isActive}}active{{/if}}"
                                               data-page-id="{{pageNum}}" data-action="page-clicked">{{pageNum}}</a>
                                        {{/if}}
                                    </li>
                                {{/each}}
                                <li class="favorite-pagination">
                                    <a class="paginate-aria-button nav-next btn btn-link btn-invisible {{#if this.isNextDisabled}}disabled{{/if}}" data-page-id="{{this.pageNumClicked}}" data-action="{{#unless this.isNextDisabled}}page-nav-clicked{{/unless}}" aria-label="Next">
                                        <span class="next-fav sicon sicon-chevron-right {{#if this.isNextDisabled}}disabled{{/if}}" data-page-id="{{this.pageNumClicked}}" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
            {{/notEq}}
        {{/eq}}
    {{else}}
            <div class="no-data">{{str "LBL_NO_DATA_AVAILABLE" this.module}}
            </div>
    {{/if}}
{{else}}
        <div class="loading-data">{{loading 'LBL_ALERT_TITLE_LOADING'}}</div>
    </div>
{{/if}}
