{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{#if headerFields}}
    <h4 data-toggle="dashlet" class="dashlet-title record-toolbar flex-grow m-0 ml-1.5 pt-0.5">
        {{#each ../headerFields}}
            <span class="record-cell" data-type="{{type}}" data-name="{{name}}">
                <span class="table-cell-wrapper">
                    {{#if ../../labels}}
                        {{#unless dismiss_label}}
                            <span class="record-label" data-name="{{name}}">
                                {{str label ../../dashletModel.module}}
                            </span>
                        {{/unless}}
                    {{/if}}
                    <span class="index{{index}}" data-fieldname="{{name}}" data-index="{{index}}">
                        {{field ../this model=../dashletModel template="dashlet-header"}}
                    </span>
                </span>
            </span>
        {{/each}}
    </h4>
{{else}}
    <h4 data-toggle="dashlet" class="dashlet-title flex-grow m-0 ml-1.5">{{meta.label}}</h4>
{{/if}}
<div class="btn-toolbar ml-4 my-0 pl-0">
{{#each buttons}}
    {{#if type}}
        {{field ../../this model=../../this.model}}
    {{else}}
        {{#if dropdown_buttons}}
            <div class="btn-group">
                {{#if (or ../../../this.canEdit ../../../this.isChart)}}
                    <button
                        type="button"
                        data-toggle="dropdown"
                        rel="tooltip"
                        title="{{str "LBL_DASHLET_CONFIGURE"}}"
                        class="btn btn-invisible dropdown-toggle"
                        data-placement="bottom"
                        aria-label="{{str "LBL_DASHLET_CONFIGURE"}}"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <i data-action="loading" class="sicon sicon-settings" track="click:dashletToolbarCog"></i>
                    </button>

                    <ul class="dropdown-menu left" role="menu">
                        {{#each dropdown_buttons}}
                            {{#if (or ../../../../../this.canEdit this.review)}}
                                <li role="menuitem">{{field ../../../../../../this model=../../../../../../this.model}}</li>
                            {{/if}}
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
        {{/if}}
    {{/if}}
{{/each}}
</div>
