{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="activity-card-content-body collapsed-timeline">
{{#each meta.panels}}
    {{partial 'panel' ../this view=../this panel=this}}
{{/each}}
</div>
<button data-action="toggle" class="btn btn-link btn-invisible toggle-text activity-card-show-more">
    {{str 'LBL_ACTIVITY_TIMELINE_SHOW_MORE' module}}
</button>
<button data-action="toggle" class="btn btn-link btn-invisible toggle-text activity-card-show-less">
    {{str 'LBL_ACTIVITY_TIMELINE_SHOW_LESS' module}}
</button>
{{#if dateModified}}
<div class="activity-date-modified">
    ({{str 'LBL_ACTIVITY_MODIFIED'}} {{dateModified}})
</div>
{{/if}}
