{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="row-fluid">
    <table class="table ml-5">
        <tr>
            <td>
                {{str 'LBL_NAME'}}
            </td>
            <td>
                {{str 'LBL_SET_PATH' module}}
            </td>
        </tr>
        {{#notEq currentFolderId "root"}}
            <tr>
                <td>
                    <span class="sicon sicon-folder-open"></span>
                    <a data-id="{{parentId}}" data-driveId="{{#notEq parentId 'root'}}{{driveId}}{{/notEq}}" class="folder back">...</a>
                </td>
                <td></td>
            </tr>
        {{/notEq}}
        {{#each folders}}
            <tr>
                <td>
                    {{#eq ../driveType "google"}}
                        <a class="folder" data-id="{{id}}" data-name="{{name}}">{{name}}</a>
                    {{else}}
                        {{#if isFolder}}
                            <a class="folder" data-id="{{id}}" data-name="{{name}}" {{#if driveId}}data-driveid="{{driveId}}"{{/if}}>{{name}}</a>
                        {{else}}
                            {{name}}
                        {{/if}}
                    {{/eq}}
                </td>
                <td>
                    {{#eq ../driveType "google"}}
                        <button class="btn setFolder" data-name="{{name}}"
                            data-id="{{id}}">{{str 'LBL_SET_PATH' ../../module}}</button>
                    {{else}}
                        {{#if isFolder}}
                            <button class="btn setFolder" data-name="{{name}}"
                                data-id="{{id}}" {{#if driveId}}data-driveid="{{driveId}}"{{/if}}>{{str 'LBL_SET_PATH' ../../../module}}</button>
                        {{/if}}
                    {{/eq}}
                </td>
            </tr>
        {{/each}}
    </table>
</div>
