{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{#if isNotHintUser}}
    <div class='non-hint-user-msg'>{{str 'LBL_HINT_DASHLET_ALLOWED1'}}</div>
{{else}}
    {{#unless stage2errorCode}}
        <div class='stage2-news' style='{{#if isDarkMode}}background-color: #000000; border-color: #4D5154;{{/if}}'>
            {{#if isHintRequestLoading}}
                {{#if isDarkMode}}
                    <img rel="noopener" src='themes/Stage2/hint_news_dashlet_preloader.gif' style='background-color: #000000; background-size: cover; background-repeat: no-repeat;'>
                {{else}}
                    <img rel="noopener" src='themes/Stage2/opt_render_3.gif'>
                {{/if}}
            {{else}}
                <div class='hint-news-dashlet-auto-notifier vanished'>{{str 'LBL_NEW_NOTIFICATIONS'}}</div>
                <div id='newsarea'>
                    {{#if displayNews}}
                        <ul class='unstyled stage2-news-list'>
                            {{#each news}}
                                {{#unless hide}}
                                    <li class='item' style='{{#if ../../isDarkMode}}background-color: #000000;border-top-color: #4D5154;{{/if}}'>
                                        <div class='details'>
                                        <span class='publisher' style='{{#if ../../isDarkMode}}border: 1px solid #FFFFFF; padding: 10px; height: auto;{{/if}}'>
                                            {{#if logoUrl}}
                                                 <img rel="noopener" src='{{logoUrl}}' name='companyLogo'>
                                            {{else}}
                                                <span class='{{publisher}}' name='publisher'>{{publisher}}</span>
                                            {{/if}}
                                        </span>
                                        <span class='news_date' name='date' title='{{date}}'>
                                                {{relativeTime date class='date'}}
                                        </span>
                                        </div>
                                        <span class='title'>
                                            <a target='_blank' href='{{hint_safeUrl sourceUrl}}' data-action='newsClick'>
                                                <div style='{{#if ../../isDarkMode}}color: #79ADE0;{{/if}}'>{{title}}</div>
                                            </a>
                                        </span>
                                    </li>
                                {{/unless}}
                            {{/each}}
                        </ul>
                    {{else}}
                        <div class='empty_news' style='{{#if isDarkMode}}background-color: #000000; color: #E5EAED;{{/if}}'>{{str 'LBL_HINT_NEWS_NONE'}}</div>
                    {{/if}}
                </div>
            {{/if}}
        </div>
    {{/unless}}
{{/if}}
