{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div id='calendar-wrapper'>
    <div id='mini-calendar' data-content='mini-calendar'></div>
</div>

<div class='calendarsWrapper'>
    {{#each meta.fields}}
        <div>
            <div class='record-label' data-name='{{name}}'>
                <span data-title="{{str label 'Calendar'}}">{{str label 'Calendar'}}</span>
                <span name='count'></span>
                {{#eq name 'otherCalendars'}}
                    <span name='addCalendar'>
                        <i class='sicon sicon-plus' title='Add calendars'></i>
                    </span>
                {{/eq}}
            </div>
            <span {{#if name}} data-fieldname='{{name}}' {{/if}} data-index='{{index}}'>
                {{field ../this model=../model template=edit}}
            </span>
        </div>
    {{/each}}
</div>
