{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<tr name="{{module}}_{{model.id}}" class="single">
    {{#each view.leftColumns}}
        <td data-column="{{name}}" class="sticky-column stick-left">
            {{field ../view model=../model template=../view.viewName}}
        </td>
    {{/each}}
    {{#each view._fields.visible}}
        <td class="{{#if align}}{{align}}{{/if}}{{#if ../view.isFirstColumnFreezed}}{{#if @first}} sticky-column stick-first no-border{{#eq ../../../view.leftColumns.length 0}} no-left-column{{/eq}}{{/if}}{{/if}}" data-type="{{type}}" data-column="{{name}}">
            {{field ../view model=../model template=../view.viewName}}
        </td>
    {{/each}}
    {{#each view.rightColumns}}
        <td data-column="{{name}}" class="sticky-column stick-right">
            {{field ../view model=../model template=../view.viewName}}
        </td>
    {{/each}}
</tr>
