{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="datapoint pull-left flex flex-column px-2 pb-1 border-l border-light">
    <div class="flex flex-row items-center justify-end mb-1">
        {{#if this.arrow}}
            <span class="sicon committed_arrow{{this.arrow}} pr-2"></span>
        {{/if}}
        <span class="text-sm">{{this.label}}</span>
    </div>
    {{#if this.hasDataAccess}}
        {{!-- TODO accessibility --}}
        <div class="forecast-value flex justify-between items-center">
            <span class="text-xs mr-4">{{str commitmentLabel module}}</span>
            <span class="forecast-value-input text-base">
                <input type="text" name="{{name}}" value="{{value}}" class="w-auto">
            </span>
        </div>
        <div class="sum-value flex justify-between items-center text-label py-1">
            <span class="text-xs">{{str totalLabel module}}</span>
            <span class="text-xs">{{formatCurrency this.total}}</span>
        </div>
    {{else}}
        {{{this.noDataAccessTemplate}}}
    {{/if}}
</div>
