{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class='{{#if isValidVersion}}
    {{#if oldHintPreview}}hint-preview-tabbed-layout{{else}}hint-preview{{/if}}
{{else}}
    {{#if isListView}}hint-preview-list{{else}}hint-preview{{/if}}
{{/if}}'>
<div class='headline'>
    {{#if isDarkMode}}
        <div class='hintDarkModeLogo'></div>
    {{else}}
        <div class='hintLogo'></div>
    {{/if}}
    {{#unless _stage2ErrorCode}}
        {{#if shouldShowHintCloudLogo}}
        <div class='{{#if isHintRequestLoading}}
            {{#if isDarkMode}}
                hint-preview-icon-darkmode--loading
            {{else}}
                hint-preview-icon--loading
            {{/if}}
        {{/if}}'
            aria-hidden='true' data-name='saveAll' data-action='copy' rel='tooltip'>
        </div>
        {{/if}}
    {{/unless}}
</div>

{{#if _stage2ErrorCode}}
    <div class='hint-preview-errors-container'>
        <div class='span4 record-cell err_message_col1'>{{str 'LBL_HINT_PREVIEW_TITLE'}}</div>
        {{#eq _stage2ErrorCode '402'}}
            {{#eq _stage2ErrorMsg 'license_expired'}}
                <div class='span8 record-cell err_message_col2'>
                    {{str 'LBL_HINT_PREVIEW_LICENSE_EXPIRED'}}
                </div>
            {{else}}
                <div class='span8 record-cell err_message_col2'>
                    {{str 'LBL_HINT_PREVIEW_QUESTION'}}
                </div>
            {{/eq}}
        {{else}}
            <div class='span8 record-cell err_message_col2'>
                {{str 'LBL_HINT_PREVIEW_QUESTION'}}
            </div>
        {{/eq}}
    </div>
{{else}}
    <div class='hint-preview-container'>
        {{#if isHintRequestLoading}}
            {{#eq moduleName 'Accounts'}}
                {{#if isDarkMode}}
                    <img rel="noopener" src='themes/Stage2/hint_news_dashlet_preloader.gif'>
                {{else}}
                    <img rel="noopener" src='themes/Stage2/opt_render_2.gif'>
                {{/if}}
            {{else}}
                {{#if isDarkMode}}
                    <img rel="noopener" src='themes/Stage2/hint_news_dashlet_preloader.gif'>
                {{else}}
                    <img rel="noopener" src='themes/Stage2/opt_render.gif'>
                {{/if}}
            {{/eq}}
        {{else}}
{{#each meta.panels}}
    {{#eq name 'panel_header'}}
        <div class='hint-preview-contact'>
            {{#each ../fields}}
                <div class='hint-preview-field-value record-cell record-cell--{{name}}' data-type='{{type}}' name='{{name}}' data-name='{{name}}'>
                    {{field ../../../this model=model}}
                {{#if ../../../shouldShowHintCloudLogo}}
                    {{#if ../../../../isDarkMode}}
                        <button class='hidden hint-preview-icon-darkmode--cloud'
                                data-name='{{name}}' data-action='copy' rel='tooltip'
                                data-placement='left' data-title="{{str 'LBL_HINT_PREVIEW_CLICK_TO_SAVE'}}">
                        </button>
                    {{else}}
                        <button class='hidden hint-preview-icon--cloud'
                                data-name='{{name}}' data-action='copy' rel='tooltip'
                                data-placement='left' data-title="{{str 'LBL_HINT_PREVIEW_CLICK_TO_SAVE'}}">
                        </button>
                    {{/if}}
                {{/if}}
                    {{#if ../../../../isDarkMode}}
                        <button class='hidden hint-preview-icon-darkmode--locked' data-name='{{name}}' data-action='lock'></button>
                    {{else}}
                        <button class='hidden hint-preview-icon--locked' data-name='{{name}}' data-action='lock'></button>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class='panel{{#if ../hide}}{{#if ../../../hidePanel}} hide{{/if}} panel_hidden{{/if}}'>
            {{#each fields}}
                <div class='row-fluid{{#if ../../hide}}{{#if ../../../../hidePanel}} hide{{/if}} panel_hidden{{/if}}'>
                    {{#unless dismiss_label}}
                        <div class='hint-preview-field-label span4 ellipsis_inline record-label--{{name}}' data-name='{{name}}'>
                            {{str ../label ../../../../model.module}}
                        </div>
                    {{/unless}}
                    <div class="hint-preview-field-value record-cell record-cell--{{name}} {{#eq name 'hint_account_logo'}}span4{{else}}span8{{/eq}}"
                        data-type='{{type}}' style='{{#if ../../../isDarkMode}}color: #E5EAED;{{/if}}' name='{{name}}' data-name='{{name}}'>
                        {{#eq name 'hint_account_website'}}
                            <div id='hint_website_erased' class='hidden' style='float: right;'>
                                <span class='label' rel='tooltip' data-placement='bottom' title=''
                                    data-original-title="{{str 'LBL_HINT_VALUE_ERASED_TOOLTIP'}}">
                                    {{str 'LBL_HINT_VALUE_ERASED'}}
                                </span>
                            </div>
                        {{/eq}}
                        {{field ../../../this model=model}}
                    {{#if ../../../shouldShowHintCloudLogo}}
                        {{#if ../../../../isDarkMode}}
                            <button class='hidden hint-preview-icon-darkmode--cloud'
                                    data-name='{{name}}'
                                    data-action='copy' rel='tooltip' data-placement='left'
                                    data-title="{{str 'LBL_HINT_PREVIEW_CLICK_TO_SAVE'}}">
                            </button>
                        {{else}}
                            <button class='hidden hint-preview-icon--cloud'
                                    data-name='{{name}}'
                                    data-action='copy' rel='tooltip' data-placement='left'
                                    data-title="{{str 'LBL_HINT_PREVIEW_CLICK_TO_SAVE'}}">
                            </button>
                        {{/if}}
                    {{/if}}
                        {{#if ../../../../isDarkMode}}
                            <button class='hidden hint-preview-icon-darkmode--locked' data-name='{{name}}' data-action='lock'></button>
                        {{else}}
                            <button class='hidden hint-preview-icon--locked' data-name='{{name}}' data-action='lock'></button>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{/eq}}
{{/each}}

                <div class='{{#unless hiddenPanelExists}}hide {{/unless}}show-hide-toggle'>
                    <button class='btn btn-link btn-invisible more{{#if hideMoreButton}} hide{{/if}}'
                            data-moreless='more' data-target='.panel_hidden'>
                        {{str 'LBL_SHOW_MORE'}}...
                    </button>
                    <button class='btn btn-link btn-invisible less{{#if hideLessButton}} hide{{/if}}'
                            data-moreless='less' data-target='.panel_hidden'>
                        {{str 'LBL_SHOW_LESS'}}...
                    </button>
                </div>
            {{/if}}
        </div>
    {{/if}}
</div>
