{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}

<div class="accordion-heading">
    <a id='{{name}}Title' class="accordion-toggle" href="#{{name}}Collapse"
       data-help-id="{{name}}" data-toggle="collapse" data-parent="#config-accordion"></a>
</div>
<div id="{{name}}Collapse" class="accordion-body in collapse">
    <div>
        {{#each services}}
            <label class="notificationsToggleOption">
                <input type="radio" id={{id}} name="{{name}}" value="true">
                <span>{{title}}</span>
            </label>
            <br/>
        {{/each}}
    </div>
</div>

