{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="console-config-instructions">
    <ul>
      <li>{{str 'LBL_CONSOLE_DIRECTIONS_DETAILED_INSTRUCTIONS' module}} <a href="{{detailedInstructionsLink}}" target="_blank" role="button">{{str 'LBL_MODULE_NAME' module}}</a> {{str 'LBL_CONSOLE_DIRECTIONS_DOCUMENTATION' module}}</li>
      <li><a href="javascript:void(0)" class="restore-defaults-btn" role="button">{{str 'LBL_CONSOLE_DIRECTIONS_RESTORE_DEFAULTS_LINK' module}}</a> {{str 'LBL_CONSOLE_DIRECTIONS_RESTORE_DEFAULTS' module}}</li>
    </ul>
</div>
