{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class='tile portlet'>
    <div class='pipeline-tile'>
        {{#each meta.tileDef.panels}}
            {{#if is_header}}
                <div class='tile-header portlet-header'>
                    <div class='name ellipsis_inline pull-left'>
                        {{#each fields}}
                            <a href="#{{buildRoute module=../../../model.attributes._module id=../../../model.attributes.id}}">{{field ../../../view model=../../../model template='list'}}</a>
                        {{/each}}
                    </div>
                    <div class='pull-right'>
                        {{#each buttons}}
                            {{field ../../../view model=../../../model}}
                        {{/each}}
                    </div>
                    <div class='clearfix'></div>
                </div>
            {{else}}
                <div class='tile-body'>
                    <div class='info-container span12 tile-field-wrapper'>
                        {{#each fields}}
                            {{field ../../../view model=../../../model template='list'}}
                        {{/each}}
                    </div>
                    <div class='clearfix'></div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
